03 / 08 / 2024
- Below is some initial EDA on the the incomplete data set from Kaggle.  I wanted to take a quick look at some features, but given this is not the full data set I will ultimately use, I didn't want to do too much here.

Ultimately I found in this notebook that I will be working with a little over 1600 transactions that I would like to focus on.  I will have other tables from NHL Player Data that average to about 1000 players per season (plus the Team / Playoff workbook) that will all workout to much more data overall.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
transactions = pd.read_csv('/Users/phil/Documents/Capstone/Data/Hockey_trades_since_1918_2.csv')

In [5]:
transactions.shape

(8364, 10)

In [6]:
transactions.tail()

,Unnamed: 0,Team A,Asset Sent,Asset Received,Team B,Num Players Sent,Num Player Received,Year,Month,Day
8359,12539,Jets,• Jordie Benn,• 2021 sixth round pick (?-?),Canucks,1,1,2021,4,12
8360,12540,Blackhawks,• 2021 fourth round pick (?-?),• Madison Bowey• 2021 fifth round pick (?-?),Canucks,2,1,2021,4,12
8361,12541,Canucks,• Madison Bowey• 2021 fifth round pick (?-?),• 2021 fourth round pick (?-?),Blackhawks,1,2,2021,4,12
8362,12542,Capitals,• Anthony Mantha,• Jakub Vrana• Richard Panik• 2021 first roun...,RedWings,4,1,2021,4,12
8363,12543,RedWings,• Jakub Vrana• Richard Panik• 2021 first roun...,• Anthony Mantha,Capitals,1,4,2021,4,12

In [46]:
trans = transactions[transactions['Year'] > 2005]
trans['Year'].value_counts()

Year
2008    248
2013    248
2017    224
2010    222
2011    212
2019    212
2015    210
2020    208
2018    202
2007    199
2006    198
2014    191
2016    190
2009    169
2012    132
2021     84
Name: count, dtype: int64

In [15]:
trans06 = trans[trans['Year']== 2006]

In [111]:
trans06_j = trans06[(trans06['Month']==1)]
#trans06_j.info()
trans06_f = trans06[(trans06['Month']==2)]
trans06_f.info()
trans06_m = trans06[(trans06['Month']==3) & (trans06['Day']<=9)]
#trans06_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 5235 to 5242
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8 non-null      int64
 1   Team A               8 non-null      object
 2   Asset Sent           8 non-null      object
 3   Asset Received       8 non-null      object
 4   Team B               8 non-null      object
 5   Num Players Sent     8 non-null      int64
 6   Num Player Received  8 non-null      int64
 7   Year                 8 non-null      int64
 8   Month                8 non-null      int64
 9   Day                  8 non-null      int64
dtypes: int64(6), object(4)
memory usage: 704.0+ bytes

trans06_mid = 20 + 8 + 52 = 80

In [14]:
trans07 = trans[trans['Year']== 2007

In [103]:
trans07_j = trans07[(trans07['Month']==1)]
trans07_j.info()
trans07_f = trans07[(trans07['Month']==2)&(trans07['Day']<=27)]
#trans07_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 5413 to 5432
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           20 non-null     int64
 1   Team A               20 non-null     object
 2   Asset Sent           20 non-null     object
 3   Asset Received       20 non-null     object
 4   Team B               20 non-null     object
 5   Num Players Sent     20 non-null     int64
 6   Num Player Received  20 non-null     int64
 7   Year                 20 non-null     int64
 8   Month                20 non-null     int64
 9   Day                  20 non-null     int64
dtypes: int64(6), object(4)
memory usage: 1.7+ KB

trans07_mid = 20 + 82 = 102

In [105]:
trans08 = trans[trans['Year']== 2008]

In [114]:
trans08_j = trans08[(trans08['Month']==1)]
#trans08_j.info()
trans08_f = trans08[(trans08['Month']==2)]
trans08_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 5628 to 5689
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           62 non-null     int64
 1   Team A               62 non-null     object
 2   Asset Sent           62 non-null     object
 3   Asset Received       62 non-null     object
 4   Team B               62 non-null     object
 5   Num Players Sent     62 non-null     int64
 6   Num Player Received  62 non-null     int64
 7   Year                 62 non-null     int64
 8   Month                62 non-null     int64
 9   Day                  62 non-null     int64
dtypes: int64(6), object(4)
memory usage: 5.3+ KB

trans08_mid = 16 + 62 = 78

In [113]:
trans09 = trans[trans['Year']== 2009]

In [117]:
trans09_j = trans09[(trans09['Month']==1)]
#trans09_j.info()
trans09_f = trans09[(trans09['Month']==2)]
#trans09_f.info()
trans09_m = trans09[(trans09['Month']==3) & (trans09['Day']<=4)]
trans09_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 5884 to 5923
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           40 non-null     int64
 1   Team A               40 non-null     object
 2   Asset Sent           40 non-null     object
 3   Asset Received       40 non-null     object
 4   Team B               40 non-null     object
 5   Num Players Sent     40 non-null     int64
 6   Num Player Received  40 non-null     int64
 7   Year                 40 non-null     int64
 8   Month                40 non-null     int64
 9   Day                  40 non-null     int64
dtypes: int64(6), object(4)
memory usage: 3.4+ KB

trans09_mid = 12 + 12 + 40 = 64

In [44]:
trans10 = trans[trans['Year']== 2010]

In [120]:
trans10_j = trans10[(trans10['Month']==1)]
#trans10_j.info()
trans10_f = trans10[(trans10['Month']==2)]
#trans10_f.info()
trans10_m = trans10[(trans10['Month']==3) & (trans10['Day']<=3)]
trans10_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 6049 to 6128
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           80 non-null     int64
 1   Team A               80 non-null     object
 2   Asset Sent           80 non-null     object
 3   Asset Received       80 non-null     object
 4   Team B               80 non-null     object
 5   Num Players Sent     80 non-null     int64
 6   Num Player Received  80 non-null     int64
 7   Year                 80 non-null     int64
 8   Month                80 non-null     int64
 9   Day                  80 non-null     int64
dtypes: int64(6), object(4)
memory usage: 6.9+ KB

trans10_mid = 4 + 16 + 80 = 120

In [48]:
trans11 = trans[trans['Year']== 2011]

In [122]:
trans11_j = trans11[(trans11['Month']==1)]
#trans11_j.info()
trans11_f = trans11[(trans11['Month']==2)]
trans11_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, 6261 to 6333
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           73 non-null     int64
 1   Team A               73 non-null     object
 2   Asset Sent           73 non-null     object
 3   Asset Received       73 non-null     object
 4   Team B               73 non-null     object
 5   Num Players Sent     73 non-null     int64
 6   Num Player Received  73 non-null     int64
 7   Year                 73 non-null     int64
 8   Month                73 non-null     int64
 9   Day                  73 non-null     int64
dtypes: int64(6), object(4)
memory usage: 6.3+ KB

trans11_mid = 10 + 73 = 83

In [50]:
trans12 = trans[trans['Year']== 2012]

In [124]:
trans12_j = trans12[(trans12['Month']==1)]
trans12_j.info()
trans12_f = trans12[(trans12['Month']==2) & (trans12['Day']<=27)]
#trans12_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 6463 to 6480
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           18 non-null     int64
 1   Team A               18 non-null     object
 2   Asset Sent           18 non-null     object
 3   Asset Received       18 non-null     object
 4   Team B               18 non-null     object
 5   Num Players Sent     18 non-null     int64
 6   Num Player Received  18 non-null     int64
 7   Year                 18 non-null     int64
 8   Month                18 non-null     int64
 9   Day                  18 non-null     int64
dtypes: int64(6), object(4)
memory usage: 1.5+ KB

trans12_mid = 18 + 66 = 84

In [54]:
trans13 = trans[trans['Year']== 2013]

In [128]:
trans13_j = trans13[(trans13['Month']==1)]
trans13_j.info()
trans13_f = trans13[(trans13['Month']==2)]
#trans13_f.info()
trans13_m = trans13[(trans13['Month']==3)]
#trans13_m.info()
trans13_a = trans13[(trans13['Month']==4) & (trans13['Day']<=3)]
#trans13_a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 6595 to 6618
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           24 non-null     int64
 1   Team A               24 non-null     object
 2   Asset Sent           24 non-null     object
 3   Asset Received       24 non-null     object
 4   Team B               24 non-null     object
 5   Num Players Sent     24 non-null     int64
 6   Num Player Received  24 non-null     int64
 7   Year                 24 non-null     int64
 8   Month                24 non-null     int64
 9   Day                  24 non-null     int64
dtypes: int64(6), object(4)
memory usage: 2.1+ KB

trans13_mid = 24 + 26 + 32 + 60 = 142

In [56]:
trans14 = trans[trans['Year']== 2014]

In [132]:
trans14_j = trans14[(trans14['Month']==1)]
#trans14_j.info()
trans14_f = trans14[(trans14['Month']==2)]
#trans14_f.info()
trans14_m = trans14[(trans14['Month']==3) & (trans14['Day']<=3)]
trans13_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 6645 to 6676
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           32 non-null     int64
 1   Team A               32 non-null     object
 2   Asset Sent           32 non-null     object
 3   Asset Received       32 non-null     object
 4   Team B               32 non-null     object
 5   Num Players Sent     32 non-null     int64
 6   Num Player Received  32 non-null     int64
 7   Year                 32 non-null     int64
 8   Month                32 non-null     int64
 9   Day                  32 non-null     int64
dtypes: int64(6), object(4)
memory usage: 2.8+ KB

trans14_mid = 16 + 16 + 32 = 64

In [58]:
trans15 = trans[trans['Year']== 2015]

In [135]:
trans15_j = trans15[(trans15['Month']==1)]
#trans15_j.info()
trans15_f = trans15[(trans15['Month']==2)]
#trans15_f.info()
trans15_m = trans15[(trans15['Month']==3) & (trans15['Day']<=2)]
trans15_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 7080 to 7137
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           58 non-null     int64
 1   Team A               58 non-null     object
 2   Asset Sent           58 non-null     object
 3   Asset Received       58 non-null     object
 4   Team B               58 non-null     object
 5   Num Players Sent     58 non-null     int64
 6   Num Player Received  58 non-null     int64
 7   Year                 58 non-null     int64
 8   Month                58 non-null     int64
 9   Day                  58 non-null     int64
dtypes: int64(6), object(4)
memory usage: 5.0+ KB

trans15_mid = 10 + 36 + 58 = 94

In [60]:
trans16 = trans[trans['Year']== 2016]

In [137]:
trans16_j = trans16[(trans16['Month']==1)]
#trans16_j.info()
trans16_f = trans16[(trans16['Month']==2) & (trans16['Day']<=29)]
trans16_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78 entries, 7262 to 7339
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           78 non-null     int64
 1   Team A               78 non-null     object
 2   Asset Sent           78 non-null     object
 3   Asset Received       78 non-null     object
 4   Team B               78 non-null     object
 5   Num Players Sent     78 non-null     int64
 6   Num Player Received  78 non-null     int64
 7   Year                 78 non-null     int64
 8   Month                78 non-null     int64
 9   Day                  78 non-null     int64
dtypes: int64(6), object(4)
memory usage: 6.7+ KB

trans16_mid = 18 + 78 = 96

In [62]:
trans17 = trans[trans['Year']== 2017]

In [140]:
trans17_j = trans17[(trans17['Month']==1)]
#trans17_j.info()
trans17_f = trans17[(trans17['Month']==2)]
#trans17_f.info()
trans17_m = trans17[(trans17['Month']==3) & (trans17['Day']<=1)]
trans17_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 7496 to 7535
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           40 non-null     int64
 1   Team A               40 non-null     object
 2   Asset Sent           40 non-null     object
 3   Asset Received       40 non-null     object
 4   Team B               40 non-null     object
 5   Num Players Sent     40 non-null     int64
 6   Num Player Received  40 non-null     int64
 7   Year                 40 non-null     int64
 8   Month                40 non-null     int64
 9   Day                  40 non-null     int64
dtypes: int64(6), object(4)
memory usage: 3.4+ KB

trans17_mid = 12 + 50 + 40 = 102

In [64]:
trans18 = trans[trans['Year']== 2018]

In [143]:
trans18_j = trans18[(trans18['Month']==1)]
#trans18_j.info()
trans18_f = trans18[(trans18['Month']==2) & (trans18['Day']<=26)]
trans18_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 7668 to 7737
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           70 non-null     int64
 1   Team A               70 non-null     object
 2   Asset Sent           70 non-null     object
 3   Asset Received       70 non-null     object
 4   Team B               70 non-null     object
 5   Num Players Sent     70 non-null     int64
 6   Num Player Received  70 non-null     int64
 7   Year                 70 non-null     int64
 8   Month                70 non-null     int64
 9   Day                  70 non-null     int64
dtypes: int64(6), object(4)
memory usage: 6.0+ KB

trans18_mid = 10 + 70 = 80

In [66]:
trans19 = trans[trans['Year']== 2019]

In [146]:
trans19_j = trans19[(trans19['Month']==1)]
#trans19_j.info()
trans19_f = trans19[(trans19['Month']==2) & (trans19['Day']<=25)]
trans19_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, 7892 to 7977
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           86 non-null     int64
 1   Team A               86 non-null     object
 2   Asset Sent           86 non-null     object
 3   Asset Received       86 non-null     object
 4   Team B               86 non-null     object
 5   Num Players Sent     86 non-null     int64
 6   Num Player Received  86 non-null     int64
 7   Year                 86 non-null     int64
 8   Month                86 non-null     int64
 9   Day                  86 non-null     int64
dtypes: int64(6), object(4)
memory usage: 7.4+ KB

trans19_mid = 32 + 86 = 118

In [68]:
trans20 = trans[trans['Year']== 2020]

In [148]:
trans20_j = trans20[(trans20['Month']==1)]
#trans20_j.info()
trans20_f = trans20[(trans20['Month']==2) & (trans20['Day']<=24)]
trans20_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97 entries, 8081 to 8177
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           97 non-null     int64
 1   Team A               97 non-null     object
 2   Asset Sent           97 non-null     object
 3   Asset Received       97 non-null     object
 4   Team B               97 non-null     object
 5   Num Players Sent     97 non-null     int64
 6   Num Player Received  97 non-null     int64
 7   Year                 97 non-null     int64
 8   Month                97 non-null     int64
 9   Day                  97 non-null     int64
dtypes: int64(6), object(4)
memory usage: 8.3+ KB

trans20_mid = 9 + 97 = 106

In [70]:
trans21 = trans[trans['Year']== 2021]

In [153]:
trans21_j = trans21[(trans21['Month']==1)]
#trans21_j.info()
trans21_f = trans21[(trans21['Month']==2)]
#trans21_f.info()
trans21_m = trans21[(trans21['Month']==3)]
#trans21_m.info()
trans21_a = trans21[(trans21['Month']==4) & (trans21['Day']<=12)]
trans21_a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 8308 to 8363
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           56 non-null     int64
 1   Team A               56 non-null     object
 2   Asset Sent           56 non-null     object
 3   Asset Received       56 non-null     object
 4   Team B               56 non-null     object
 5   Num Players Sent     56 non-null     int64
 6   Num Player Received  56 non-null     int64
 7   Year                 56 non-null     int64
 8   Month                56 non-null     int64
 9   Day                  56 non-null     int64
dtypes: int64(6), object(4)
memory usage: 4.8+ KB

trans21_mid = 10 + 6 + 12 + 56 = 84

- trans22_mid = 1 + 7 + 49 = 57
- trans23_mid = 3 + 28 + 39 = 70

In [157]:
trans_mid = 80 + 102 + 78 + 64 + 120 + 83 + 84 + 142 + 64 + 94 + 96 + 102 + 80 + 118 + 106 + 84
trans_mid + 127

1624